<h1> Login </h1>

<form action="<%= session_url %>" method="post">
  <label for="username" > Username </label>
  <input id="username" name="user[user_name]" type="text" value="" >

  <label for="password" > password </label>
  <input id="password" name="user[password]" type="password" value="" >

  <input type="submit" value="login">
</form>