<h1> Sign up </h1>


<form action="<%= users_url %>" method="post">
  <label for="username" > Username </label>
  <input id="username" name="user[user_name]" type="text" value="" >

  <label for="password" > password </label>
  <input id="password" name="user[password]" type="password" value="" >

  <input type="submit" value="Sign up">
</form>